@{
    ViewData["Title"] = "Adds Announcement";
    Layout = "_AdminLayout";
}

<h2>Create Announcement</h2>

<form asp-controller="Admin" asp-action="AddAnnouncement" method="post">
    <input type="hidden" name="Status" value="Normal" />
    <input type="hidden" name="Date" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
    <div class="mb-3">
        <label class="form-label">Announcement Title</label>
        <input type="text" class="form-control" name="Title" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Location</label>
        <textarea class="form-control" name="Location" rows="4" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" name="Description" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Announcement</button>
</form>
